.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 77vh;
  padding: 0.5rem;

  background-color: #ffd1b0;
  background-image: url('/assets/images/paws-background.png');
  background-attachment: fixed;
  background-position: left;
  background-size: contain;
}
