.hero {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  min-width: 400px;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(60 60 60 / 85%);
}

.subtitle {
  font-size: 1.2rem;
  color: rgb(60 60 60 / 85%);
}

.heroCat {
  width: 300px;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
