.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: #ffd1b0;
  background-image: url('/assets/images/paws.png');
  background-position: center;
  background-size: cover;
}
